<div class="container">
  <header>
    <h1>Grid Demo</h1>
  </header>
  <section class="sg-grid__mock-page layout__container">
    <header class="mock-page__header site-header content">
      <div class="region-header">
        <h2 class="title__h2">Header</h2>
      </div>
    </header>
    <div class="mock-page__featured content">
      <div class="breadcrumb">
        <h2 class="title__h2">Home > Featured > Breadcrumbs</h2>
      </div>
    </div>

    <div class="mock-page__main-wrapper">
      <div class="layout__main layout__main--sidebar-first">
        <main class="main content layout__content">
          <h2 class="title__h2">Main - Fill Free Space Up To 1440px Page Width</h2>
          <p>{{ ipsum_long }}</p>
        </main>
        <aside class="sidebar content layout__sidebar--first">
          <h2 class="title__h2">Left Sidebar - 360px Max-width</h2>
          <p>{{ ipsum_short }}</p>
        </aside>
      </div>
      <div class="layout__main layout__main--sidebar-second">
        <main class="main content layout__content">
          <h2 class="title__h2">Main - Fill Free Space Up To 1440px Page Width</h2>
          <p>{{ ipsum_long }}</p>
        </main>
        <aside class="sidebar content layout__sidebar--second">
          <h2 class="title__h2">Right Sidebar - 360px Max-width</h2>
          <p>{{ ipsum_short }}</p>
        </aside>
      </div>
      <div class="layout__main mock-page__main-full">
        <div class="column">
          <div class="content">
            <h2 class="title__h2">Full - 1200px Max Page Width</h2>
            <p>{{ ipsum_long }}</p>
          </div>
        </div>
      </div>
      <div class="layout__main mock-page__main-half">
        <div class="column">
          <div class="content">
            <h2 class="title__h2">Half</h2>
            <p>{{ ipsum_short }}</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h2 class="title__h2">Half</h2>
            <p>{{ ipsum_short }}</p>
          </div>
        </div>
      </div>
      <div class="layout__main mock-page__main-third">
        <div class="column">
          <div class="content">
            <h2 class="title__h2">Third</h2>
            <p>{{ ipsum_short }}</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h2 class="title__h2">Third</h2>
            <p>{{ ipsum_short }}</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h2 class="title__h2">Third</h2>
            <p>{{ ipsum_short }}</p>
          </div>
        </div>
      </div>
      <div class="layout__main mock-page__main-fourth">
        <div class="column">
          <div class="content">
            <h2 class="title__h2">Fourth</h2>
            <p>{{ ipsum_short }}</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h2 class="title__h2">Fourth</h2>
            <p>{{ ipsum_short }}</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h2 class="title__h2">Fourth</h2>
            <p>{{ ipsum_short }}</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h2 class="title__h2">Fourth</h2>
            <p>{{ ipsum_short }}</p>
          </div>
        </div>
      </div>
    </div>
    <footer class="mock-page__footer content">
      <div class="site-footer__container">
        <h2 class="title__h2">Footer</h2>
        <p>{{ ipsum_long }}</p>
      </div>
    </footer>
  </section>
</div>
